.container{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}
.panel-parent{
    width: 90%;
    margin: 5px;
    max-width: 600px;
}
.main-panel {
    height: 50px;
    background-color: blue;
}