.container{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}
.panel-parent{
    width: 90%;
    margin: 5px;
    max-width: 600px;
}
.main-panel {
    border: solid gray 5px;
    background-color: darkgray;
}

.main-panel h2 {
    background-color: white;
    border-radius: 10px;
    text-align: center;
}