<article class="container">
    <section class="panel-parent">
        <app-header></app-header>
        <section class="main-panel">
            <section>
                <div>
                    <h2>{{this.currPokemon.name}}</h2>
                    <img src={{this.currPokemon.imgUrl}} alt="pokeball icon">
                </div>
                <div>
                    <app-pokemon-info [currPokemon]="this.currPokemon"></app-pokemon-info>
                </div>
            </section>
        </section>
        <app-footer></app-footer>
    </section>
</article>
