.container{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}
.panel-parent{
    width: 90%;
    margin: 5px;
    max-width: 600px;
}
.main-panel {
    border: solid gray 5px;
    background-color: darkgray;
}

.main-panel section {
    margin: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.main-panel h2 {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.main-panel img {
    width: 100px;
    height: 100px;
}

section div {
    width: 100%;
}