<article>
    <section>    
        <h2>NO</h2><h2>{{this.currPokemon.id}}</h2>
    </section>
    <section>    
        <h2>LEVEL</h2><h2>{{this.currPokemon.level}}</h2>
    </section>
    <section>    
        <h2>TYPE</h2><h2>{{this.currPokemon.type}}</h2>
    </section>
    <section>    
        <h2>ABILITY</h2><h2>{{this.currPokemon.ability}}</h2>
    </section>
    <section>    
        <h2>HEIGHT</h2><h2>{{this.currPokemon.height}}</h2>
    </section>
    <section>    
        <h2>WEIGHT</h2><h2>{{this.currPokemon.weight}}</h2>
    </section>
</article>