<section class="container">
    <section class="parent">
        <p>OTHERS</p>
        <section class="buttons">
            <div class="btn">
                <img src="assets/pokeball.png" alt="pokeball icon">
            </div>
            <div class="btn">
                <img src="assets/pokeball.png" alt="pokeball icon">
            </div>
            <div class="btn">
                <img src="assets/pokeball.png" alt="pokeball icon">
            </div>
            <div class="btn">
                <img src="assets/pokeball.png" alt="pokeball icon">
            </div>
        </section>
    </section>
</section>

<!-- 

    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <img src="assets/pokeball.png" alt="pokeball icon">
    </button>
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <img src="assets/pokeball.png" alt="pokeball icon">
    </button>
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <img src="assets/pokeball.png" alt="pokeball icon">
    </button>
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <img src="assets/pokeball.png" alt="pokeball icon">
    </button>

-->