<article class="container">
    <article class="panel">
        <p>OTHERS</p>
        <section class="buttons">
            <div class="btn">
                <img src="assets/pokeball.png" alt="pokeball icon">
            </div>
            <div class="btn">
                <img src="assets/pokeball.png" alt="pokeball icon">
            </div>
            <div class="btn">
                <img src="assets/pokeball.png" alt="pokeball icon">
            </div>
            <div class="btn">
                <img src="assets/pokeball.png" alt="pokeball icon">
            </div>
        </section>
    </article>
</article>
