.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: gray;
    background-color: white;
    border: solid gray 5px;
    border-radius: 0 0 10px 10px;
    gap: 10px;
}